#features-menu li a.icon-scrum span.icon {
  background:url(images/icon.png) no-repeat;
}

.form-item .description {
  position: absolute;
  bottom: 100%;
  right: -15px;
  z-index: 5;
  color: #687;
  background: url(images/popup.png) 50% 100% no-repeat;
  border-top: 1px solid #D8E4E0;
  width: 240px;
  margin: 0px 0px -15px;
  padding: 9px 10px 20px;
  display: none;
}

.form-item:hover > .description {
  display: block;
}
