/* Add an icon to Recent activity list */
.feature .feature-atrium_scrum_tasks {
  background:transparent url(images/task.jpg) no-repeat;
}

/* Add an icon to the Create Content menu */
.feature-atrium_scrum_tasks {
  background:url(images/task.jpg) no-repeat !important;
  float: left;
  margin-right: 5px;
}

/* Align the time estimate to the right for Tasks Board*/
.scrum-tasks-task-status .field_scrum_stories_effort_value {
  float: right;
}

.scrum-tasks-task-status .button,
.view-scrum-tasks-task-board .button {
  font-size: 11px;
  color: white;
  background: #999 url(images/sprite_bleeds.png) 0px -400px repeat-x;
  margin-left: 5px;
  padding: 0px 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: right;
}

.view-scrum-tasks-task-board th {
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  text-transform:uppercase;
}

.view-scrum-tasks-task-board td,
.view-scrum-tasks-task-board th {
  border-width: 2px 2px;
  border-style: solid dashed;
}
