/* Add an icon to Recent activity list */
.feature .feature-atrium_scrum_stories {
  background:transparent url(images/user_story.png) no-repeat;
}

/* Add an icon to the Create Content menu */
.feature-atrium_scrum_stories {
  background:url(images/user_story.png) no-repeat !important;
  float: left;
  margin-right: 5px;
}
